@{
    ViewData["Title"] = "Home Page";

}


<div>
    <input type="button" value="userName" />
    <input type="text" />
    <div>
        <input type="button" value="passWord" />
        <input type="text" />

    </div>
    <input type="submit" />
    <input type="time" />
    <input type="button" value="Subment" />
    <input type="checkbox" />
    <input type="color" accept="d" />
    <input type="date" />
</div>

<div>
    <input type="button" value="Click" />
    <input type="file" />

    <label>
        <input type="radio" />
        Choose here
    </label>
</div>
